<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>e</span>-shopper</h2>
                        <p>Mua PC Gaming, laptop, màn hình máy tính hàng đầu Việt Nam bảo hành chính hãng. Mua online nhận nhiều ưu đãi hấp dẫn.</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-4">
                        <div class="video-gallery text-center">
                            <a href="">
                                <div class="iframe-img">
                                    <img src="~/Use/images/iframe1.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                        <h5>Pc</h5>
                    </div>

                    <div class="col-sm-4">
                        <div class="video-gallery text-center">
                            <a href="">
                                <div class="iframe-img">
                                    <img src="~/Use/images/iframe2.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                        <h5>Laptop</h5>
                    </div>

                    <div class="col-sm-4">
                        <div class="video-gallery text-center">
                            <a href="">
                                <div class="iframe-img">
                                    <img src="~/Use/images/iframe3.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                        <h5>Màn hình</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="~/Use/images/map.png" alt="" />
                        <p>12 Lê Lợi phường 4 Gò Vấp thành phố Hồ Chí Minh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!--/Footer-->



<script src="~/Use/js/jquery.js"></script>
<script src="~/Use/js/bootstrap.min.js"></script>
<script src="~/Use/js/jquery.scrollUp.min.js"></script>
<script src="~/Use/js/price-range.js"></script>
<script src="~/Use/js/jquery.prettyPhoto.js"></script>
<script src="~/Use/js/main.js"></script>
</html>