<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Đăng nhập</h2>

                    <form asp-action="Login" asp-controller="Login"  method="post">

                        <input type="email" name="Email" placeholder="Email" />
                        <input type="password" name="Password" placeholder="Mật khẩu" />
                        <span>
                            <input type="checkbox" class="checkbox" />
                            Ghi nhớ đăng nhập
                        </span>
                        <button type="submit" class="btn btn-default">Đăng nhập</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Hoặc</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Đăng ký</h2>
                    <form asp-action="Create" asp-controller="Login" method="post">
                        <input type="email" name="email" placeholder="Email" />
                        <input type="text" name="name" placeholder="Họ và tên" />
                        <input type="password" name="password" placeholder="Mật khẩu" />
                        <input type="text" name="phonenumber" placeholder="Số điện thoại" />
                        <input type="text" name="address" placeholder="Địa chỉ" />

                        <button type="submit" class="btn btn-default">Đăng ký</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->