@model DoAnASP.Areas.Admin.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDProduct" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classify" class="control-label"></label>
                <input asp-for="Classify" class="form-control" />
                <span asp-validation-for="Classify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer" class="control-label"></label>
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyPeriod" class="control-label"></label>
                <input asp-for="WarrantyPeriod" class="form-control" />
                <span asp-validation-for="WarrantyPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPU" class="control-label"></label>
                <input asp-for="CPU" class="form-control" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VGA" class="control-label"></label>
                <input asp-for="VGA" class="form-control" />
                <span asp-validation-for="VGA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hard_drive" class="control-label"></label>
                <input asp-for="Hard_drive" class="form-control" />
                <span asp-validation-for="Hard_drive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Display" class="control-label"></label>
                <input asp-for="Display" class="form-control" />
                <span asp-validation-for="Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Connector" class="control-label"></label>
                <input asp-for="Connector" class="form-control" />
                <span asp-validation-for="Connector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio" class="control-label"></label>
                <input asp-for="Audio" class="form-control" />
                <span asp-validation-for="Audio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wifi" class="control-label"></label>
                <input asp-for="Wifi" class="form-control" />
                <span asp-validation-for="Wifi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bluetooth" class="control-label"></label>
                <input asp-for="Bluetooth" class="form-control" />
                <span asp-validation-for="Bluetooth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingSystem" class="control-label"></label>
                <input asp-for="OperatingSystem" class="form-control" />
                <span asp-validation-for="OperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battery" class="control-label"></label>
                <input asp-for="Battery" class="form-control" />
                <span asp-validation-for="Battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

